
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ snsnaver.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
	</style>
</head> 
<body>
   <!-- sns어플  snsnaver.html주석  -->
   <div>
		<b> snsnaver.html문서  </b> <br>
	 	 <img src="/static/images/aaa.gif">
		 <img src="/static/images/aaa.gif">
		 <img src="/static/images/aaa.gif"> <p> 
		 <img src="/static/images/aaa.gif">
		 <img src="/static/images/aaa.gif">
		 <img src="/static/images/aaa.gif"> <p> 
		<h2> sns어플 snsnaver.html</h2>
	</div>
	
</body>
</html>