<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        setTimeout("location.href='blogwrite.do'", 3000);
    </script>
    <style>
        *{font-size: 14pt;}
        h2{ color: blue;}
    </style>
</head>
<body>
    {% load static %}
    <div class="myContainer" align="center">
        <img src="{%static 'images/main_4.jpg' %}">
        <img src="/static/images/main_4.jpg" width="550" height="200" > <p></p>
        <h2> Waiting... Loading...</h2>
        <h2> 환영합니다 9:24 </h2>
    </div>

</body>
</html>