
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ pollscheck.html] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
	</style>
</head> 
<body>
   <!-- polls폴더  pollscheck.html주석  -->
   <div>
		<b> pollscheck.html문서 ok </b> <br>
	 	<img src="/static/images/cake1.jpg" width="300" height="200"> 
		<img src="/static/images/cake2.jpg" width="300" height="200"> <p>  
		<h2> polls폴더 pollscheck.html ok </h2>
	</div>
	
</body>
</html>
