{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // setTimeout("location.href='blogwrite.do'", 2000);
        setTimeout("location.href='kakaowrite.do'", 1000);
    </script>

    <style>
        *{font-size: 14pt;}
        h2{ color: blue;}
    </style>
</head>
<body>
    <div class="myContainer" align="center">
        <img src="/static/images/main_4.jpg" width="500" height="200" > <p></p>

        <h2> Waiting... Loading...</h2>
        <h2> kt고객님 가입을 환영합니다 </h2>
    </div>

</body>
</html>