{% load static %}

<!-- Navbar----------------------------- -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">ktds</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000"> index &nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blogWrite5.do"> blog등록 &nbsp;</a> 
        </li>
          
        <li class="nav-item"> 
          <a class="nav-link" href="blogSelect5.do"> blog출력 &nbsp;</a> 
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#">로그인</a>
        </li>
      </ul>
    </div>
  </nav>