
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogdetail.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
	</style>
</head> 
<body>
  <!-- blog어플  blogdetail.html주석  -->
  <p></p>
  <h2> blogdetail 한건출력 처리 </h2>
  <table border="1" width=700 cellspacing="0">
    <tr bgcolor="#ccc"  height="35"  align="center">  
      <td colspan="2"> 상세데이터 출력 </td>     
    </tr>

    <tr>  
      <td rowspan="4"> 
        {% if mycount == 0  %}
            <img src="/static/images/main_4.jpg" width="250" height="150" >
        {% else %}
            <a href="./media/images/{{result.img_file}}" download></a>
              <img src="./media/images/{{result.img_file}}"  width="250" height="250"> 
            </a>
        {% endif %}    
      </td> 
      <td>  코드 : {{ result.code }} </td>
    </tr>
     
    <tr>
      <td> 이름 :{{ result.name }} </td> 
    </tr>

    <tr>
      <td> 제목:{{ result.title }} </td> 
    </tr>

      <td> 날짜 :{{ result.wdate }}  </td>
     </tr>

     <tr align="center">
      <td colspan="4">
        <button type='button' onclick="location.href='/'" > index </button> 
        <button type='button' onclick="location.href='blogselect.do'"> blog출력 </button>
        <button type='button' onclick="location.href='blogwrite.do'"> blog등록 </button>      
        <button type='button' onclick="location.href='blogdelete.do?idx={{result.code}}'"> 삭제 </button>
        <button type='button' onclick="location.href='blogupdate.do?idx={{result.code}}'"> 수정 </button>
      </td>
     </tr>
  </table>

  <p></p>
  {% block head %}
        {% include  "./blog_reply.html"  %} 
        <!-- def blogdetail(request): 내용을 blog_reply.html공유 -->
  {% endblock %}
</body>
</html>









