
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blog_reply.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
    a{text-decoration: none; color:blue; }
    a:hover{text-decoration: underline; font-size: 16pt;}
    #bt_save{ font-size:16pt; font-weight: bold;  background:#ccc; height:180px; width:250px;	}  
	</style>

  <script>
    //댓글수정관련 자바스크립트
    function re_edit(rnum, rwriter, rmemo, rcode){
        alert(rnum+' '+rwriter+' '+rmemo+' '+rcode)
        reply_form.bt_save.value = "댓글수정";
        reply_form.rnum.value = rnum ;
        reply_form.rwriter.value = rwriter;
        reply_form.rmemo.value = rmemo;
        reply_form.rcode.value = rcode;
        reply_form.button_edit.background = "color:#FF0000'";
    }//end

    
    //댓글저장&수정
    function re_save(){
        var bt_save = reply_form.bt_save.value ;
        var drnum = reply_form.rnum.value ;
        var drwriter = reply_form.rwriter.value ;
        var drmemo = reply_form.rmemo.value ;
        var drcode = reply_form.rcode.value ;

        if(bt=="댓글저장"){
            if( drwriter == "" || drwriter==null || drmemo=="" || drmemo==null ) {
              alert("댓글 저장관련 내용을 입력해주세요!")
              return;
            }

            var msg = "blog_replyinsertsave.do?rwriter="+drwriter+"&rmemo="+drmemo+"&rcode="+drcode;
            document.reply_form.action=msg;
            document.reply_form.method="post";
            document.reply_form.submit();
            alert( "댓글이 저장됐습니다!")
        }else if(bt=="댓글수정"){
            reply_form.bt_save.value="댓글저장";   
            var msg = "blog_replyupdatesave.do?rnum="+drnum+"&rwriter="+drwriter+"&rmemo="+drmemo+"&rcode="+drcode;
            document.reply_form.action = msg;
            document.reply_form.method = "post";
            document.reply_form.submit();
        }
    }
  </script>

</head> 
<body>

  <!-- blog어플 blog_reply.html 댓글출력  -->
  <p></p> <br><br> 
  <h2>  >>> blog_reply.html댓글 <<< </h2>


<form   name="reply_form" method="post" action="blog_replyinsertsave.do" >
  {% csrf_token %}
  <table width="700"  border='0' cellspacing="0">
	<tr>
    <td  width="300"> <img src="/static/images/z1.gif"> idx값:  <img src="/static/images/z1.gif">  </td>
 	  <td> 
      <input type="text"  name="rcode"  value="{{ result.code }}" size=20 readonly> 
      <input type="text" name="rnum" value="" size=20> 
    </td>
	  <td rowspan="3">
		    <input type="submit"  id="bt_save" name="bt_save" value="댓글저장" onClick="re_save()"> 
	  </td>
	</tr>
	
 	<tr>
	   <td> <img src="/static/images/z1.gif"> 저  자: <img src="/static/images/z1.gif">  </td>
 	   <td>	<input type="text"  name="rwriter" size=20>  </td>
 	</tr>
 	
 	<tr>
	   <td> <img src="/static/images/z1.gif"> 메 모: <img src="/static/images/z1.gif"> </td>
 	   <td> <textarea  name="rmemo" cols="25" rows=3></textarea> </td>
 	</tr>
  </table>
 </form>


  <table border="1" width=700 cellspacing="0">
    <tr bgcolor="yellow">  
      <th>댓글번호</th>  <th>rcode</th>  <th>저자</th>  <th>메모</th> <th>비고</th>    
    </tr>
     
    {% for rdto in  replyresult  %}
    <tr onmouseover="style.background='#00FFFF'" onmouseout="style.background='' ">
       <td> {{rdto.rrn}} </td>
       <td> {{rdto.rcode}} </td>
       <td> {{rdto.rwriter}} </td>
       <td> {{rdto.rmemo}} </td>
       <td>
          <button type='button' id="button_edit" onclick="re_edit('{{rdto.rnum}}','{{rdto.rwriter}}', '{{rdto.rmemo}}', '{{rdto.rcode}}')">수정</button>
          <button type='button' onclick="location.href='blog_replydeletesave.do?ridx={{rdto.rnum}}&idx={{rdto.rcode}}'">삭제</button>  
        </td>
    </tr>
    {% endfor %}  
  </table>

  <p style="margin-bottom: 100px;"></p>                   
</body>
</html>
