
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogtest.html ] </title> 
	<style type="text/css">
	  body {
		padding: 80px 40px;
	  }
	  table {
		margin: auto;
	  }
	  
	  div {
		text-align:center;
		width: 550px;
		margin: auto;
	  }
	  #detailcontainer {
		font-size: 12pt;
	  }
	  table {
		margin: auto;
	  }
	  #replycontainer {
		margin-top: 60px;
	  }
	</style>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head> 
<body>
   <!-- blog어플연결  blogdetail.html주석  -->
   <div id="detailcontainer">	 	
		<table class="table table-dark">
			<tr class="table table-dark">
				<th>코드</th><th>이름</th><th>제목</th><th>날짜</th>
			</tr>
			{% for i in result %}
			<tr>
				<td> {{ i.code }} </td>
				<td> {{ i.name }} </td>
				<td> {{ i.title }} </a></td>
				<td> {{ i.wdate }} </td>
			</tr>
			{% endfor %}
		</table>
        <button type="button" onclick="location.href='blogselect.do'" class="btn btn-secondary">리스트</button>
		<button type="button" onclick="location.href='blogdelete.do?idx={{result.0.code}}'" class="btn btn-secondary">삭제</button>
		<button type="button" onclick="location.href='blogedit.do?idx={{result.0.code}}'" class="btn btn-secondary">수정</button>
	</div>
	<div id="replycontainer">
		{% block header%}
	 	{% include "./blogreply.html" %}
	 	{% endblock %}


	</div>
	
</body>
</html>
