
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogtest.html ] </title> 
	<style type="text/css">
	  body {
		padding: 80px 40px;
	  }
	  table {
		margin: auto;
	  }
	  
	  div {
		text-align:center;
		width: 550px;
		margin: auto;
	  }
	  table {
		margin: auto;
	  }
	  #replyinput {
		background-color: rgb(245, 245, 245);
		padding: 5px;
		margin-bottom: 10px;
	  }
	  
	</style>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head> 
<body>
   <!-- blog어플연결  blogdetail.html주석  -->
   <div id="replycontainer">
	<hr>
	<div id="replyinput">	 	
	<form id="replyForm" method="post"  action="blogReplySave.do" >
		{% csrf_token %}
		<table border='0' style="font-size: 11pt;">	  
		  {% for i in result  %}
		  <tr >
			<td style="padding: 10px;"> <input type="text" name="rwriter" id="rwriter"size=8 placeholder="글쓴이" style="border:0;">  </td>
			<td style="padding: 10px;"> <textarea  name="rmemo" id="rmemo" cols="38" rows=2 placeholder="댓글을 입력하세요" style="border:0;"></textarea> </td>
			<td style="padding: 10px;"> 
				<input type="hidden" name="rcode" id="rcode" value="{{i.code}}">
				<input type="hidden" name="rnum" id="rnum">
				<input type="submit" id="submitButton" value="댓글저장" class="btn btn-secondary btn-sm">  
			</td>
		  </tr>
		  {% endfor %}
		</table>
	</form>
	</div>	
	  

		<table class="table table-default table-sm" style="font-size: 11pt;">
			<tr>
				<th>번호</th><th>글쓴이</th><th>댓글</th><th>비고</th>
			</tr>
			{% for j in results  %}
			<tr>
				<td> {{j.rrn}} </td>
				<td> {{j.rwriter}} </td>
				<td> {{j.rmemo}} </td>
				<td>
					<button type='button' onclick="editReply('{{j.rwriter}}', '{{j.rmemo}}', '{{j.rnum}}', '{{j.rcode}}')" class="btn btn-outline-dark btn-sm" style="font-size: 8pt;">수정</button>
          			<button type='button' onclick="location.href='blogReplyDelete.do?ridx={{j.rnum}}&idx={{j.rcode}}'" class="btn btn-outline-danger btn-sm" style="font-size: 8pt;">삭제</button>
				</td>
			</tr>
			{% endfor %}

		</table>
		<br>
        
	</div>

	<script>
		function editReply(rwriter, rmemo, rnum, rcode) {
			document.getElementById('rwriter').value = rwriter;
			document.getElementById('rmemo').value = rmemo;
			document.getElementById('rnum').value = rnum;
			document.getElementById('rcode').value = rcode;
			document.getElementById('replyForm').action = "blogReplyEditSave.do";
			document.getElementById('submitButton').value = "댓글수정";
		}
		</script>
	
	
</body>
</html>
