
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogtest.html ] </title> 
	<style type="text/css">
	  * {font-size: 12pt; }
	  body {
		padding: 80px 40px;
	  }
	  table {
		margin: auto;
	  }
	  a {text-decoration: none;}
	  a:hover {
	  	text-decoration: underline; 
		color: darkorange;
	  }
	  div {
		text-align:center;
	  }	  
	  input.form-control {
		width: 100px;
	  }	
	</style>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head> 
<body>
   <!-- blog어플연결  blogselect.html주석  -->
   <div>	 	
		<br>
		<table class="table table-dark table-hover">
			<tr class="table table-dark">
				<td colspan="5" align="right">
					검색 건수 : {{scnt}} /
					총 데이터 : {{cnt}}
				</td>
			</tr>
			<tr>
				<th>번호</th><th>코드</th><th>이름</th><th>제목</th><th>날짜</th>
			</tr>
			{% for i in result %}
			<tr>
				<td> {{ i.rn }} </td>
				<td> {{ i.code }} </td>
				<td> {{ i.name }} </td>
				<td><a href="blogdetail.do?idx={{i.code}}"> {{ i.title | lower }} {% if i.rcnt != 0 %} <span style="color: darkorange; font-size: 10pt;">[{{i.rcnt}}]</span> {%endif%}</a></td>
				<td> {{ i.wdate }} </td>
			</tr>
			{% endfor %}

			<tr class="table table-dark">
				<td colspan="5" align="center">
					<form name="searchform" action="blogselect.do">
						<select name=keyfield>
							<option value="">----- 검색조건 ----- </option>
							<option value="name">이름</option>
							<option value="title">제목</option>
						</select>
						<input type="text" name="keyword" >
						<input type="submit" value="검색" class="btn btn-secondary btn-sm">
					</form>	
				</td>
			</tr>			
			<tr class="table table-dark">
				<td colspan="5" align="center">
					<!-- 이전 -->
					{% if startPage != 1 %}
              			<a href="blogselect.do?page={{ startPage|add:'-10' }}">[이전]</a>
          			{% endif %}

					
					<!-- 페이지번호 -->
					{% for i in "x"|rjust:"10" %}		
					{% if pageNum == forloop.counter0|add:startPage %}
						  <span style=color:blue;>[{{ forloop.counter0|add:startPage }}]</span>
					{% else %}
						  {% if forloop.counter0|add:startPage < pageCount %}
							<a href="blogselect.do?page={{ forloop.counter0|add:startPage }}{{ returnpage }}">[{{ forloop.counter0|add:startPage }}]</a>
						  {% endif %}
					{% endif %}
					{% endfor %}
	  
					
					 <!-- 다음 -->
					 {% if endPage < pageCount %}
            			<a href="blogselect.do?page={{ startPage|add:10 }}">[다음]</a>
          			{% endif %}
				</td>
			</tr>
			
		</table>

		<br>
		<button type="button" onclick="location.href='/'" class="btn btn-secondary">index</button>
        <button type="button" onclick="location.href='blogwrite.do'" class="btn btn-secondary">등록</button>
		<!--<button type="button" onclick="location.href='blogtest.do'" class="btn btn-secondary">test</button>-->
	</div>
	
</body>
</html>
