
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> main </title> 
	<style type="text/css">
	  
	</style>
</head> 
<body>
	<!-- db테스트 지워도 됨 -->
   <h2>ddd</h2>
   <table border="1" width=600 cellspacing="0">
    

    <tr bgcolor="yellow">  
      <th>행번호</th> <th>code</th>  <th>name</th>  <th>title</th> <th>wdate</th>  <th>imgname</th>
    </tr>

    {% for dto  in result %}
      <tr>
        <td> {{ dto.rn }} </td> 
        <td> {{ dto.code }} </td> 
        <td> {{ dto.name | lower }} </td>
        <td> <a href="insdetail.do?idx={{i.code}}"> {{ dto.title | lower }}</a> </td>            
        <td align="center"> {{ dto.wdate }}</td>
		<td>{{ dto.imgname }}</td>
      </tr>
    {% endfor %}
	<!-- db테스트 지워도 됨 -->

    

   

  </table>
   
	
</body>
</html>
