
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogtest.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
	</style>

{% bootstrap_css %}
{% bootstrap_javascript %}

</head> 
<body>
   <!-- blog어플  blogtest.html주석  -->
   <div>
		<b> blogtest.html문서  </b> <br>
	 	<img src="/static/images/a1.png" width="400" height="250"> <p>  
		<h2> blog어플 blogtest.html</h2>
		<!-- 문자열 넘어오는 데이터 : {{kim}} -->

		 <!-- 
		 코드: {{code}} <br>
		 이름: {{name}} <br>
		 제목: {{title}} <br> 
		 -->

		{% for i in boardTable %}
		 코드 : {{i.code}} <br>
		 이름 : {{i.name}} <br>
		 제목 : {{i.title}} <br> <br>
	 	{% endfor %}

		<p></p>

		<button type='button' onclick="location.href='/'" > index </button> 
        <button type='button' onclick="location.href='blogselect.do'"> blog출력 </button>
        <button type='button' onclick="location.href='blogwrite.do'"> blog등록 </button>  
		<p></p>
		
			<button>button1</button>
			<button>button2</button>
			<button class="btn btn-primary"> primary </button> 
			<button class="btn btn-success"> success </button> 
			<button class="btn btn-warning"> warning </button> 
			<button class="btn btn-danger"> danger </button> 
			<button class="btn btn-secondary"> secondary </button> 
			<button class="btn btn-dark"> dark </button>   <p></p>
			<button class="btn btn-outline-primary"> primary </button> 
			<button class="btn btn-outline-success"> success </button> 
			<button class="btn btn-outline-info"> info </button> 
			<button class="btn btn-outline-warning"> warning </button> 
			<button class="btn btn-outline-danger"> danger </button>  
			<p></p>
		
			<button class="btn btn-outline-secondary"> secondary </button> 
			<button class="btn btn-outline-dark"> dark </button>  
			<button class="btn btn-primary btn-lg"> 보내기 </button> 
			<button class="btn btn-primary"> 보내기 </button> 
			<button class="btn btn-primary btn-sm"> 보내기 </button> 
		
			<p></p> 
			<a href="#"  class="btn btn-primary">네이버구글</a>
			<a href="#"  class="btn btn-success">카카오아마존</a>
		
			<p></p> 
			<button class="btn btn-warning btn-lg"> 보내기 </button> 
			<button class="btn btn-warning"> 보내기 </button> 
			<button class="btn btn-warning btn-sm"> 보내기 </button> 
	</div>

	<p></p> <br><br><br><br><br>
</body>
</html>


