
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogdetail3.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
	</style>
</head> 
<body>
  <!-- blog어플  blogdetail3.html주석복사본  -->
  <p></p>
  <h2> blogdetail3 한건출력 처리 </h2>
  <table border="1" width=600 cellspacing="0">
    <tr bgcolor="yellow">  
      <th>코 드</th>  <th>이 름</th>  <th>제 목</th> <th>날 짜</th>    
    </tr>

     <tr>
        <td> {{ result.code }} </td> 
        <td> {{ result.name }} </td>
        <td>  {{ result.title }}  </td> 
        <td>  {{ result.wdate }} </td>
      </tr>
  </table>

  <p></p>
  <button type='button' onclick="location.href='/'" > index </button> 
  <button type='button' onclick="location.href='blogselect.do'"> blog출력 </button>
  <button type='button' onclick="location.href='blogwrite.do'"> blog등록 </button>      
  <button type='button' onclick="location.href='blogdelete.do?idx={{result.code}}'"> 삭제 </button>
  <button type='button' onclick="location.href='blogupdate.do?idx={{result.code}}'"> 수정 </button>
	
</body>
</html>
