
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> [ blogselect.html ] </title> 
	<style type="text/css">
	  *{font-size: 14pt; }
	  b{color:green; font-weight: bold;}
	  div{text-align:center;}
    a{text-decoration: none; color:blue; }
    a:hover{text-decoration: underline; font-size: 16pt;}
	</style>
</head> 
<body>
  <!-- blog어플  blogselect.html주석  -->
  <p></p>
  <h2> blog전체출력 처리 </h2>
  <table border="1" width=600 cellspacing="0">
    <tr align="right">
      <td colspan="5">  레코드갯수: {{total}} &nbsp; </td>
    </tr>

    <tr bgcolor="yellow">  
      <th>행번호</th> <th>code</th>  <th>name</th>  <th>title</th> <th>wdate</th>    
    </tr>

    {% for i  in result %}
      <tr>
        <td> {{ i.rn }} </td> 
        <td> {{ i.code }} </td> 
        <td> {{ i.name | lower }} </td>
        <td> <a href="blogdetail.do?idx={{i.code}}">  {{ i.title | lower}} </a> </td> 
        <td align="center"> {{ i.wdate }}</td>
      </tr>
    {% endfor %}

    <tr align="center">
      <td colspan="5"> 
          <!-- 이전 --> 

          <!-- 페이지번호 for반복문 if제어문  |  --> 
          [1][2][3] ~~~[8][9][10]

          <!-- 다음 --> 
      </td>
    </tr>

    <tr align="center">
      <td colspan="5">  
        <form name="searchform" action="blogselect.do">
					<select name=keyfield>
						<option value="">----- 검색조건 ----- </option>
						<option value="name">이름</option>
						<option value="title">제목</option>
					</select>
					<input type="text" name="keyword">
					<input type="submit" value="검색">
			</form>
      </td>
    </tr>

  </table>

  <p></p>
  <button type='button' onclick="location.href='/'" > index </button> 
  <button type='button' onclick="location.href='blogselect.do'"> blog출력 </button>
  <button type='button' onclick="location.href='blogwrite.do'"> blog등록 </button>                    
	<button type='button' onclick="location.href='blogtest.do'"> test </button>                    
</body>
</html>
